* {
    box-sizing: border-box;
}

body {
    background-color: #18171f;
    color: snow;
    font-family: JetBrains Mono, monospace;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.passwordBox {
    width: 35rem;
}

.password {
    background-color: #24232c;
    height: 4rem; 
}

.infoPassword {
    background-color: #24232c;
    height: 15rem;
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fontLarge {
    font-size: 1.5em;
}

button, input {
    width: 100%;
}

input[type="text"] {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 1.5em;
    padding: 1rem;
}

button {
    background-color: #a4ffaf;
    border: none;
    color: black;
    height: 3rem;
}

button.disabled {
    background-color: #817d92;
    color: rgba(16, 16, 16, 0.3);
}

button:active {
    transform: scale(.95);
}
